html, body {
    background-color: #1e1e1e !important;
    margin: 0;
}

ul {
    gap: 10px;
}

li:hover {
    animation: bounce 1s ease;
    animation-fill-mode: both;
}


#img {
    width: 50px;
    margin-right: 1300px;
}

#img:hover {
    transform: translateY(-20px);
}

.scrolling-text-container {
    background-color: #eff5ff;
    border-radius: 4px;
    overflow: hidden;
    justify-content: center;
    margin-top: 100px;
}

.scrolling-text-inner {
    display: flex;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0;
}

.scrolling-text {
    display: flex;
}

.scrolling-text-item {
    padding: 0 30px;
}

.scrolling-text-inner>div {
    animation: var(--direction) var(--marquee-speed) linear infinite;
}

.scrolling-text-container:hover .scrolling-text-inner>div {
    animation-play-state: paused;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}