html, body {
    background-color: #1e1e1e !important;
    margin: 0;
}

ul {
    gap: 10px;
}

li:hover {
    animation-fill-mode: both;
}


#img {
    width: 50px;
    margin-right: 1300px;
    position: relative;
}

#img:hover {
    transform: translateY(-20px);
}

    .title {
        color: white;
        justify-content: center;
        text-align: center;
        margin-top: 100px;
    }

    .scrolling-text-container {
        background-color: white;
        border-radius: 4px;
        overflow: hidden;
    }

    .scrolling-text-inner {
        display: flex;
        white-space: nowrap;
        font-size: 16px;
        font-weight: 600;
        padding: 8px 0;
    }

    .scrolling-text {
        display: flex;
    }

    .scrolling-text-item {
        padding: 0 30px;
    }

    .scrolling-text-inner > div {
        animation: var(--direction) var(--marquee-speed) linear infinite;
    }

    .scrolling-text-container:hover .scrolling-text-inner > div {
        animation-play-state: paused;
    }


    @keyframes scroll-right {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0%);
        }
    }

    .about-section { 
    text-align: center;
    justify-content: center;
    color: white;

  }

    #border {
        margin-top: 100px;
        border: 2px solid white;
        border-radius: 50px;
        display: inline-block;
        padding: 20px;
    }

    .contacts-section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        gap: 10px;
    }

    .contacts-section a {
        font-size: 30px; 
        color: white; 
        text-decoration: none;
    }

    .contacts-section a:hover {
        color: gray;
    }