html, body {
    background-color: #1e1e1e !important;
    margin: 0;
}

ul {
    gap: 10px;
}

nav.navbar {
  position: sticky;
  top: 0;
  z-index: 9999;
}

li:hover {
    animation-fill-mode: both;
}

.contacts-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 10px;
}

.blogelements {
    margin: 100px auto;
    border: 2px solid white;
    border-radius: 50px;
    max-width: 100%;
    width: 90%;
    text-align: center;
    box-sizing: border-box;
}

#titleblog h2 {
    color: white;
    padding: 20px;

}

#mainblog p {
    color: white;
    padding: 20px;
}

.blogUI {
    align-items: left;
    width: 400px;
    padding: 20px;
    border: transparent 2px solid;
    border-radius: 50px;
}

.blogcontext {
    align-items: right;
    width: 500px;
    padding: 20px;
    border: transparent 2px solid;
    border-radius: 50px;
}

@media screen and (max-width: 768px) {
    .blogelements {
        width: 95%;
        margin: 50px auto;
    }
}

#imageblog h3 {
    padding: 20px;

}

#imageblog {
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    margin: 20px;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    color: white;
}

.contacts-section a {
    font-size: 30px; 
    color: white; 
    text-decoration: none;
}

 .contacts-section a:hover {
    color: gray;
}