html, body {
    background-color: #1e1e1e !important;
    margin: 0;
}

ul {
    gap: 10px;
}

li:hover {
    animation-fill-mode: both;
}


#img {
    width: 40px;
    position: fixed;
    margin-left: 100px;
}

#img:hover {
    transform: translateY(-20px);
}

#border {
        margin-top: 100px;
        border: 2px solid white;
        border-radius: 50px;
        display: inline-block;
        padding: 20px;
    }

.resume {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;
        color: white;
    }

 .contacts-section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        gap: 10px;
    }

    .contacts-section a {
        font-size: 30px; 
        color: white; 
        text-decoration: none;
    }

    .contacts-section a:hover {
        color: gray;
    }

    .message {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 50px;
    }

    .message div a{
        justify-content: center;
        align-items: center;
        display: flex;
    }